useDynLib(SpiderMonkey)
import(Rffi)
exportPattern(".*")


exportClasses(
JSAccessMode, 
JSArenaPoolRef, 
JSArenaRef, 
JSArgumentFormatMapRef, 
JSArgumentFormatter, 
JSAtomListElementRef, 
JSAtomListRef, 
JSAtomMapRef, 
JSAtomRef, 
JSAtomStateRef, 
JSAttributesOp, 
JSBranchCallback, 
JSCallsiteRef, 
JSCharBufferRef, 
JSCharType, 
JSCheckAccessIdOp, 
JSCheckAccessOp, 
JSClassRef, 
JSCListRef, 
JSCListStrRef, 
JSCodeGeneratorRef, 
JSCodeSpecRef, 
JSComparator, 
JSConcatenateOp, 
JSConstDoubleSpecRef, 
JSContextCallback, 
JSContextOp, 
JSContextRef, 
JSConvertOp, 
JSDebugErrorHook, 
JSDebugHooksRef, 
JSDefinePropOp, 
JSDestroyContextMode, 
JSDestroyScriptHook, 
JSDHashClearEntry, 
JSDHashEntryHdrRef, 
JSDHashEntryStubRef, 
JSDHashEnumerator, 
JSDHashFinalize, 
JSDHashFreeTable, 
JSDHashHashKey, 
JSDHashInitEntry, 
JSDHashMatchEntry, 
JSDHashMoveEntry, 
JSDHashOperator, 
JSDHashTableOpsRef, 
JSDHashTableRef, 
JSDToStrMode, 
JSEmittedObjectListRef, 
JSEnumerateOp, 
JSEnumerateValuesOp, 
JSEqualityOp, 
JSErrNum, 
JSErrorCallback, 
JSErrorFormatStringRef, 
JSErrorReporter, 
JSErrorReportRef, 
JSExceptionStateRef, 
JSExecPart, 
JSExnType, 
JSExtendedClassRef, 
JSFastNative, 
JSFinalizeOp, 
JSFrameRegsRef, 
JSFunctionRef, 
JSFunctionSpecRef, 
JSGCArenaListRef, 
JSGCCallback, 
JSGCChunkInfoRef, 
JSGCDoubleArenaListRef, 
JSGCInvocationKind, 
JSGCParamKey, 
JSGCRootMapFun, 
JSGCStatus, 
JSGCThingRef, 
JSGeneratorRef, 
JSGeneratorState, 
JSGetMethodOp, 
JSGetObjectOps, 
JSGetRequiredSlotOp, 
JSGSNCacheRef, 
JSHashAllocOpsRef, 
JSHashComparator, 
JSHashEntryRef, 
JSHashEnumerator, 
JSHashFunction, 
JSHashTableRef, 
JSHasInstanceOp, 
JSIdArrayRef, 
JSInlineFrameRef, 
JSInterpreterHook, 
JSIterateOp, 
JSIteratorOp, 
JSJumpTargetRef, 
JSLocaleCompare, 
JSLocaleToLowerCase, 
JSLocaleToUnicode, 
JSLocaleToUpperCase, 
JSLocalKind, 
JSLocalRootChunkRef, 
JSLocalRootStackRef, 
JSLookupPropOp, 
JSMarkOp, 
JSNative, 
JSNativeIteratorStateRef, 
JSNewEnumerateOp, 
JSNewResolveOp, 
JSNewScriptHook, 
JSObjectArrayRef, 
JSObjectHook, 
JSObjectMapOp, 
JSObjectOp, 
JSObjectOpsRef, 
JSObjectPrincipalsFinder, 
JSObjectRef, 
JSOp, 
JSOperationCallback, 
JSOpLength, 
JSParseContextRef, 
JSParsedObjectBoxRef, 
JSParseNodeArity, 
JSParseNodeRef, 
JSPrincipalsRef, 
JSPrinterRef, 
JSPropCacheEntryRef, 
JSPropertyCacheRef, 
JSPropertyIdOp, 
JSPropertyOp, 
JSPropertyRef, 
JSPropertyRefOp, 
JSPropertySpecRef, 
JSPropertyTreeEntryRef, 
JSProtoKey, 
JSPtrTableRef, 
JSRegExpRef, 
JSRegExpStaticsRef, 
JSReserveSlotsOp, 
JSResolveOp, 
JSResolvingEntryRef, 
JSResolvingKeyRef, 
JSRuntimeRef, 
JSRuntimeState, 
JSScopeOpsRef, 
JSScopePropertyRef, 
JSScopeRef, 
JSScriptRef, 
JSSetMethodOp, 
JSSetObjectSlotOp, 
JSSetRequiredSlotOp, 
JSSetSlotRequestRef, 
JSSharpObjectMapRef, 
JSSourceHandler, 
JSSpanDepRef, 
JSSrcNoteSpecRef, 
JSSrcNoteType, 
JSStackFrameRef, 
JSStackHeaderRef, 
JSStdNameRef, 
JSStmtInfoRef, 
JSStmtType, 
JSStringBufferRef, 
JSStringFinalizeOp, 
JSStringRef, 
JSStuffFunc, 
JSSubStringRef, 
JSTaskStateRef, 
JSTempValueRooterRef, 
JSTempValueTrace, 
JSThreadRef, 
JSTokenBufRef, 
JSTokenPosRef, 
JSTokenPtrRef, 
JSTokenRef, 
JSTokenStreamRef, 
JSTokenType, 
JSTraceCallback, 
JSTraceDataOp, 
JSTraceOp, 
JSTracerRef, 
JSTrapHandler, 
JSTrapStatus, 
JSTreeContextRef, 
JSTryNodeRef, 
JSTryNoteArrayRef, 
JSTryNoteKind, 
JSTryNoteRef, 
JSType, 
JSValueToStringFun, 
JSVersion, 
JSWatchPointHandler, 
JSWeakRootsRef, 
JSXDRObjectOp, 
JSXDRStateRef, 
JSXMLArrayCursorRef, 
JSXMLArrayRef, 
JSXMLClass, 
JSXMLElemVarRef, 
JSXMLListVarRef, 
JSXMLNamespaceRef, 
JSXMLObjectOpsRef, 
JSXMLQNameRef, 
JSXMLRef)              



export(jsvalString, jsvalNumber, jsval)
export(.js)
exportMethods(.js)
exportMethods(jsval)

